<swiper-container
  class="workout-swiper"
  #swiperRef
  [attr.slides-per-view]="slidesPerView || 1.5"
  [attr.space-between]="spaceBetween || 12"
  [attr.centered-slides]="false"
  [attr.slides-offset-after]="edgeGap"
  [attr.watch-slides-progress]="true"
>
  @for (item of items; track $index) {
  <swiper-slide>
    <div class="img" [class.matte]="item.matte">
      <ion-img [src]="item.image" [alt]="item.title"></ion-img>
      <ion-label>{{ item.title }}</ion-label>
    </div>
  </swiper-slide>
  } @empty {
  <swiper-slide>
    <div class="empty-slide"></div>
  </swiper-slide>
  }
</swiper-container>
